<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Blog</title>
</head>
<body>
        <header>
        <div>
            <a href="/blogposts" class="title">Blog Posts</h2>
            <a href="/blogposts/new">Add new</a>
            <a href="/blogposts/edit">Edit</a>
            <a href="/blogposts/delete">Delete</a>
            <a href="/">Log out</a>
        </div>
    </header>
    <div class="post">
    <img src="/images/npmlogo.png"/>
    <h1>Some title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit commodo massa in luctus. Praesent eu enim a enim aliquam porttitor. Aenean lobortis nisi placerat lorem elementum ultrices. Integer lectus eros, maximus a odio sed, aliquam semper felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus nunc nulla, sodales sed molestie vel, luctus non nisl. Pellentesque magna ligula, vestibulum sit amet neque eu, aliquet molestie purus. Vivamus felis purus, dapibus non tincidunt ac, lobortis eget diam. Nulla varius justo tortor, ut bibendum nibh rutrum vel. Duis tristique gravida ligula, et volutpat odio ultrices eget. Mauris sollicitudin ut est bibendum vehicula.

Integer semper euismod enim, in sodales dui fermentum vitae. Nunc commodo varius massa, in tristique ex mattis quis. Morbi convallis turpis sed aliquet finibus. Sed fringilla risus feugiat augue sodales congue. Nullam a libero non mi placerat efficitur eget cursus dui. Aliquam erat volutpat. Donec lacinia, mi et venenatis bibendum, dolor eros finibus arcu, in aliquam arcu sapien in neque. In aliquet eu orci in accumsan. Mauris sed leo ac sapien dictum sollicitudin sodales vel purus. Suspendisse in ex non augue sodales faucibus. Aenean ac hendrerit lectus. Mauris aliquet, lorem a vulputate vestibulum, eros justo blandit ex, vehicula molestie nibh erat non diam. Sed nec mi id leo gravida vulputate. Sed non malesuada nulla.</p>
    </div>
</body>
</html>