<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <div class="main-container">
        <div class="form">
            <h1>Login</h1>
            <form method="POST" action="/">
                <label>
                    <span> E-mail:</span>
                    <input type="email" name="first_name" required="required" />
                </label>
                <label>
                    <span> Password:</span>
                    <input type="password" name="password" required="required" /><br><br>
                </label>
                <button type="submit">Login</button>
                <a class="reglink"href="/register">Dont have an acc? Register Now!</a>
            </form>
        </div>
    </div>
</body>

</html>