<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title>Add new user</title>
</head>

<body>
     {{> admin_header}}
    <div class="main-container">
        <div class="form">
            <h1>Add new User</h1>
            <form method="post" action="/users/new">
                <label>
                    <span>First Name</span>
                    <input type="text" name="first_name" required="required" />
                </label>
                <label>
                    <span>Last Name</span>
                    <input type="text" name="last_name" required="required" />
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" name="email" required="required" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" name="password" required="required" />
                </label>
                <label>
                    <span>Re-type Password</span>
                    <input type="password" name="password2" required="required" />
                </label>
                <button type="submit">Add New</button>
                <a class="reglink" href="/dashboard">Back to Dashboard</a>
            </form>
        </div>
    </div>
</body>

</html>